//localapi.fetchdrones.com:4873/:_authToken="FhG5/vG+57A6oVVdll29YwIiDsbRq6DdUAafNn1Ap/4="
//registry.npmjs.org/:_authToken=95936629-c250-4f01-a66c-336ac6715c5b
scope=fetchdrones
@fetchdrones:registry=https://registry.npmjs.org/
